[buildout]
extends = versions/versions.cfg
develop = . 
parts = devpython
        test

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = zeit.jabber

[test]
recipe = zc.recipe.testrunner
eggs = zeit.jabber
defaults = ['--tests-pattern', '^f?tests$', '-v']
